<div class="text-left">
	<div class="page-header">
		<h1 id="poll-question">
			About
		</h1>
	</div>

	<p class="lead">
		A big thank you to <a href="http://www.strawpoll.me">Straw Poll</a> for such an excellent service.
	</p>

	<p>
		This website was inspired heavily by Straw Poll but with the intent to provide a smoother service, and to fill a gap when Straw Poll was having issues.
	</p>
	<p>
		If you have comments or criticism, please find me on <a href="https://www.twitter.com/TheSwedeheart">Twitter</a>. Thanks!
	</p>
</div>
