<form role="form" action="" method="POST">
	<h1 class="cover-heading">Create a poll.</h1>
	<input type="text" class="form-control" name="question" placeholder="Question" required autofocus>
	<input type="text" class="form-control" name="answer" placeholder="Answer" required autofocus>
	<input type="text" class="form-control" name="answer" placeholder="Answer" autofocus>
	<input type="text" class="form-control" name="answer" placeholder="Answer" autofocus>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>
