<form class="form-horizontal" role="form">
	<div class="text-left">
		<div class="page-header">
			<h1 id="poll-question">
				Create a poll!
			</h1>
		</div>
		<div class="form-group">
			<label for="question" class="col-sm-2 control-label">Question</label>
			<div class="col-sm-10">
				<input type="text" id="question" class="form-control" ng-model="question" placeholder="Question" required autofocus>
			</div>
		</div>
		<div ng-repeat="answer in answers" class="form-group" ng-show="answer.visible">
			<label for="answer{{$index}}" class="col-sm-2 control-label">Answer #{{$index+1}}</label>
			<div class="col-sm-10">
				<input type="text" id="answer{{$index}}" class="form-control" ng-model="answer.text" ng-change="updateAnswers()" placeholder="Answer">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="multipleChoice"> Multiple choice?
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-lg btn-primary btn-block" ng-click="create()" ng-disabled="numAnswers == 0">Create</button>
			</div>
		</div>
	</div>
</form>